* {
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png),
    auto !important;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "ComicNeue";
  src: url("../assets/fonts/ComicNeueRegular.ttf") format("trueType");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "ComicNeue", sans-serif;
  text-align: center;
  background-attachment: fixed;
}

.light-mode {
  background: url("../assets/light_mode_bg.png");
  transition: background-image 0.9s ease;
}

.dark-mode {
  background-image: url("../assets/dark_mode_bg2.png");
  color: #e6e6e6;
  transition: background-image 0.9s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.28rem #000);
}

.beta {
  font-size: 1rem;
  background-image: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.select-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-container {
  width: 300px;
}

.desc {
  text-align: justify;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.progress {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.234);
  width: 100%;
}

.progress-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.progress-bar {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 50vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.infoLabel {
  font-size: 75%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  cursor: pointer;
  height: max-content;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

@media (width > 768px) {
  .result-container {
    width: 50%;
  }
}
